@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,100&family=Space+Mono:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* Top */

.top {
    font-family: 'Space Mono', monospace;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px;
    background-color: #1d1c1c;
    justify-content: space-between;
}

.top div{
    margin-left: 50px;
}

.top div a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.top div a:hover{
    color: #dd5050;
}

.top nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 40px;
}

.top nav ul a{
    text-decoration: none;
    color: white;
}

.top nav ul a:hover{
    color: #dd5050;
}

.name {
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}


/* Sobre mim */
body{
    background-color: #e4e1e1;
}
.foto-head{
    float: right;
    width: 250px;
    height: 250px;
    padding: 2px;
    margin: 10px;
    background-color: #1d1c1c;
}

.container{
    font-family: 'Space Mono', monospace;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    position: relative;
}

.container p {
    margin-top: 50px;
}

.traits h3 {
    background-color: blue;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}

.traits div {
    background-color: #dd5050;
    margin-top: 50px;
}

.pros {
    float: left;
    font-family: 'Space Mono', monospace;
    font-size: 30px;
}

.cons {
    float: right;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}

/* Footer redes sociais */

